*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font setting */

.font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared style */
.btn{

    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
   
    
    
}
.button-align{
    text-align: center;
    align-items: center;
}
.btn:hover {
    background-color: #ffffff00;
    border: 1px solid #30B868;
    border-radius: 4px;
    color: #30B868;
}
/* main style */
header{
    /* background-color: antiquewhite; */
    padding-top: 16px;
    padding-bottom: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1360px;
    /* border: 1px solid red; */
}
.logo-navbar{
    max-width: 139px;
}
.list-item{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;

}
.list-item a {
    text-decoration: none;
    color: #000000;


}

.list-item a:hover {

    color: #30B868;

}


#hero-sec {
    background-image: url("assets/hero-bg.png");
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-div{
    padding: 115px; 
    
    text-align: center;
    margin: 0 auto;
    

}
.hero-btn {
    padding: 8px 12px ;
    border-radius: 1000px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    border: none;
    background-color: #ffffff;
    margin-bottom: 16px;
    cursor: pointer;
    text-align: center;
    align-items: center;

}


.hero-btn:hover {
    background-color: #ffffff00;
    border: 1px solid #30B868;
    border-radius: 1000px;
    color: #30B868;

}

.hero-tittle {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    line-height: 84px;
    margin-bottom: 16px;
}
.hero-tittle-color {
    color: #30B868;
}
.hero-info {
    color: #ffffff;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 32px;  
}
.btn-hero { 
    display: flex;
    justify-content: center;
    gap: 16px;
    
}
.section-heading {
    text-align: center;
    margin-top: 70px;
}

.section-heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931 ;
    margin-bottom: 16px;
}
.section-heading p, .card-box-info p , .right-div-info{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card-box {
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    gap: 24px;

}
.card-box-info {
    margin-top: 44px;
    gap: 24px;
    /* background-color: #001931; */
    text-align: center;
    padding: 70px 24px;
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.192);
    
}
.card-box-info img {
    background-color: #F95555;
    max-width: 60px;
    border-radius: 100%;
    padding: 14px;
    margin-bottom: 16px;
}
.card-box-info h4 {
    font-size: 24px;
    color: #001931;
    font-weight: 500;
    margin-bottom: 16px;
}
 
.solution-section{
    padding: 120px 0px;
    display: flex;
    margin: 0 auto;
    max-width: 1360px;
    gap: 60px;
    align-items: center;
   
}
.mini-solution{
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.right-div h2 {
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}
.right-div ul{
    margin-top: 40px;
}

.right-div li {
    margin-bottom: 16px;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    
}

.early-access {
    background-color: #F7F6F2 ;
    text-align: center;
    max-width: 1360px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 80px 40px;

}

.early-access h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
}
.early-access p {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #627382;
    line-height: 24px;
    
}
/* footer */
footer {
    background-color: #001931;
    padding: 120px 0px 30px;
    margin-top: 120px;

}
footer-logo {
    max-width: 139px;
    cursor: pointer;
}

.footer-main {
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-between;
}

.social h6 {
    color: #ffffff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.footer-img {
    margin-top: 16px;
}

.footer-img img {
    padding: 5px;
    cursor: pointer;
}

.copyright {
    margin: 0 auto;
    max-width: 1360px;
    text-align: center;
    padding-top: 80px;
      
}
.copyright p {
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ffffff50;
}
