*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font setting */

.font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared style */
.btn{

    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
   
    
    
}
.button-align{
    text-align: center;
    align-items: center;
}
.btn:hover {
    background-color: #ffffff00;
    border: 1px solid #30B868;
    border-radius: 4px;
    color: #30B868;
}
/* main style */
header{
    /* background-color: antiquewhite; */
    padding-top: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1360px;
    /* border: 1px solid red; */
}
.logo-navbar{
    max-width: 139px;
}
.list-item{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;

}
.list-item a {
    text-decoration: none;
    color: #000000;
}
#hero-sec {
    background-image: url("assets/hero-bg.png");
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-div{
    padding: 115px; 
    
    text-align: center;
    margin: 0 auto;
    

}
.hero-btn {
    padding: 8px 12px ;
    border-radius: 1000px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    border: none;
    background-color: #ffffff;
    margin-bottom: 16px;

}

.hero-tittle {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    line-height: 84px;
    margin-bottom: 16px;
}
.hero-tittle-color {
    color: #30B868;
}
.hero-info {
    color: #ffffff;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 32px;
   
}